<section class="calendar-container">
  <%- include('calendar', {monthString: data.monthString, month: data.month,
  year: data.year, days: data.days}); %>
</section>
<section class="list">
  <div class="list__header"><h2>Diary List</h2></div>
</section>
