@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poor Story', sans-serif;
}

body {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.calendar-container {
  height: 390px;
  background-color: #D5E5D5;
}

.list {
  height: 400px;
}

.list__header {
  padding: 16px 0;
  text-align: center;
}

.calendar {
  padding: 8px;
}
.calendar__header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.month-year {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.calendar__body .weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 6px;
  text-align: center;
  font-weight: bold;
}

.calendar__body .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  gap: 3px;
  margin-left: 10px;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-weight: bold;
}

.errow {
  font-size: 20px; 
  cursor: pointer;
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 30px; 
  height: 30px; 
}
